.bg {
    position: relative;
    width: 100%;
    vertical-align: bottom;
}

.counter {
    position: absolute;
    width: 100%;
}

.kv {
    margin-top: 64px;
}

.main_container {
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    /* height: 100vh; */
    background-image: url(../img/counter.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.grad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
    background: -webkit-linear-gradient(top, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
    background: linear-gradient(to bottom, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
    z-index: 1;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    max-width: 1000px;
    margin: 0 auto;
    height: 119px;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.current_page:hover {
    color: inherit;
    cursor: default;
}

a:hover {
    color: #8C1A1C;
}

li {
    display: block;
    width: auto;
    /* padding-top: 45px; */
    /* padding-bottom: 45px; */
    /* gap: 30px; */
    color: white;
    text-align: center;
    font-family: "Shippori Mincho B1", serif;
    font-size: 40px;
    z-index: 2;
}

.info_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
    margin-top: 30px;
}

.by {
    width: 400px;
    height: auto;
    /* transition:0.3s;
    cursor: pointer;
    border:none;
    display:block; */
    z-index: 2;
}

.info_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0.3;
    width: 500px;
}

.info_bar {
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px 0 15px 20px;
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: left;
    z-index: 2;
}

.info_main {
    display: flex;
    align-items: flex-start;
}

.info_img {
    display: flex;
    gap: 10px;
    z-index: 2;
}

.package1,
.package2 {
    aspect-ratio: 215/337;
    width: 80px;
}

table {
    table-layout: fixed;
    width: 250px;
    line-height: 1.15;
    gap: 10px;
    z-index: 2;
}

.ov,
.pa,
.cont {
    font-size: 12px;
    font-family: "IBM Plex Sans JP", sans-serif;
}

.ov {
    text-align: right;
    width: 25%;
}

.pa {
    width: 10%;
}

.cont {
    /* width: 360px; */
    width: 65%;
}

@media screen and (max-width:768px) {

    .kv {
        margin-bottom: 0 !important;
        overflow: hidden;
        text-align: center;
    }

    .bg {
        width: 200%;
        left: 50%;
        transform: translateX(-50%);
    }

    .main_container {
        /* height: 600px; */
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    .menu_list {
        display: none !important;
    }

    .info_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px !important;
        margin-top: 0 !important;
        gap: 20px;
        width: 100% !important;
    }

    .by {
        width: 90%;
    }

    .info_content {
        width: 90%;
        margin: 0 auto !important;
        padding: 10px !important;
    }

    .info_main {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
    }

    .package1,
    .package2 {
        width: 40%;
    }

    .info_content table {
        margin-top: 20px;
        width: 100%;
    }

    .ov,
    .pa,
    .cont {
        font-size: 3vw;
    }

    .ov {
        width: 15%;
    }
}