.tag {
    font-size: 30px;
    font-family: serif;
    color: white;
    margin: 0 auto;
    padding: 10px;
}

.system {
    width: 100%;
    padding-top: 65px;
    background-image: url(../img/bgi.png);
    background-color: #0A0404;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.grad {
    width: 100%;
    height: 100%;
    padding-top: 50px;
    background: -moz-linear-gradient(top, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
    background: -webkit-linear-gradient(top, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
    background: linear-gradient(to bottom, rgba(70, 28, 3, 0.9), rgba(217, 217, 217, 0.9));
}

.flow {
    display: block;
    width: 70%;
    margin: 0 auto 80px;
    /* z-index: 2; */
}

.flow2 {
    display: none;
}

.overview {
    width: 100%;
}


.overview_box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px;
    padding-bottom: 50px;
    width: 70%;
    margin: 0 auto;
}

.overview_box2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 100px;
    padding-bottom: 50px;
    width: 70%;
    margin: 0 auto;
}

.ov_text {
    flex: 1;
    color: white;
    font-family: "IBM Plex Sans JP", sans-serif;
}

.ov_img {
    flex: 1;
}

.attention {
    color: white;
    padding-bottom: 50px;
    width: 70%;
    font-family: "IBM Plex Sans JP", sans-serif;
    margin: 0 auto;
}

@media screen and (max-width:768px) {

    .flow {
        display: none;
        width: 90%;
    }

    .flow2 {
        display: block;
        width: 80%;
        margin: 0 auto 80px;
    }

    .overview_box2 {
        flex-wrap: wrap-reverse;
    }

    .overview {
        width: 100%;
    }

    .ov_img {
        width: 100%;
    }

    .ov_text {
        font-size: 4vw;
    }

    .attention {
        font-size: 4vw;
    }
}